glazewm/errors.log
api_lock.js
test.py
zebar/tmp*
zebar/themes
zebar/stater/
zebar/starter/vanilla.html
zebar/starter/vanilla.zebar.json
zebar/starter/with-komorebi.html
zebar/starter/with-komorebi.zebar.json
zebar/starter/styles.css
zebar/boilerplate*
